{% extends "layout.html" %} {% block content %}
<h3>{{page.title}}
  <small> (
    <a href="/wiki/similar/{{page.id}}">Similar</a>)</small>
</h3>
<h4>by
  <a href="/users/{{page.author.id}}">{{page.author.name}}</a>
</h4>
<div>
  {% for tag in page.tags %}
  <span class="label label-default">{{tag}}</span>
  {% endfor %}
</div>
<hr/>
<div>
  <a href="/users/{{page.author.id}}">{{page.author.name}}</a>
</div>
<div class="page-body">{{page.renderedContent() | safe}}</div>
<hr/>
<a href="{{page.urlTitle}}/edit"
   class="btn btn-primary">edit this page</a>
<a href="{{page.urlTitle}}/delete/{{page.id}}"
   class="btn btn-danger">delete this page</a>
{% endblock %}